<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
		<title>企业诉求</title>
		<script src="/mobile_web/js/vue.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/mobile_web/js/global.js" type="text/javascript" charset="utf-8"></script>
		<script src="/mobile_web/js/axios.min.js"></script>
		<script src="/mobile_web/js/head.js" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" type="text/css" href="../css/qysq.css" />
	</head>
	<body>
		<div class="top">
			<div class="toparea">
				<a class="index" href="/mobile_web/index.html">
					<div class="logo"><img src="../img/nav/logo@2x.png"></div>
					<div class="logoname">高密市中小企业公共服务平台</div>
				</a>

				<div class="topright">
					<a class="search" href="/mobile_web/qysq/qysq.html"><img src="../img/nav/nav_search_icon@2x.png"></a>
					<a class="user" :href="jump"><img src="../img/nav/nav_user_icon@2x.png"></a>
				</div>
			</div>
			<div class="selectbar">
				<a class="select" href="/mobile_web/index.html">首页</a>
				<a class="selected" href="/mobile_web/qysq/qysq.html">企业诉求</a>
				<a class="select" href="/mobile_web/zxjs/zxjs.html">中心介绍</a>
				<a class="select" href="/mobile_web/zcfw/zcfw.html">政策服务</a>
				<a class="select" href="/mobile_web/fwtj/fwtj.html">服务推荐</a>
				<a class="select" href="/mobile_web/qzzp/qzzp.html">求职招聘</a>
				<a class="select" href="/mobile_web/qyfc/qyfc.html">企业风采</a>
			</div>
		</div>
		<div class="main">
			<div class="white-bg">
				<div id="top-field">
					<div class="searchsuqiu">
						<div @click="Search()"><img class="search-img" src="../img/appeal/search.png"></div>
						<input type="text" name="search-input" id="search-input" v-model="search_title" @change="Search()"/>
					</div>
					<div class="suqiu" >
						<a class="suqiu-item" href="/mobile_web/qysq/qysqSubmit.html?type=0">
							<img src="../img/appeal/appeal_icon_one@2x.png">
							<div>我要咨询</div>
						</a>
						<a class="suqiu-item" id="jianyi" href="/mobile_web/qysq/qysqSubmit.html?type=1">
							<img src="../img/appeal/appeal_icon_two@2x.png">
							<div>我要建议</div>
						</a>
						<a class="suqiu-item" id="tousu" href="/mobile_web/qysq/qysqSubmit.html?type=2">
							<img src="../img/appeal/appeal_icon_three@2x.png">
							<div>我要投诉</div>
						</a>
						<a class="suqiu-item" id="jubao" href="/mobile_web/qysq/qysqSubmit.html?type=3">
							<img src="../img/appeal/appeal_icon_four@2x.png">
							<div>我要举报</div>
						</a>
					</div>
				</div>
			</div>
			<div class="white-bg" id="suqiumain">
				<a class="suqiuitem" v-for="item in lists" :key="item.id" :href="'/mobile_web/qysq/qysqDetails.html?id='+item.id">
					<div class="white-item">
						<div class="item-title">{{item.title}}</div>
						<div class="row">
							<div class="shouxin">{{item.shouxin}}</div>
							<div class="status">{{item.status}}</div>
							<div class="time">{{item.create_time}}</div>
						</div>
						<div class="type">{{item.type}}</div>
					</div>
				</a>
				<div class="page" v-if="total_page>0">
					<div class="pre-page" @click="PrePage()">上一页</div>
					<div class="pre-page">当前第{{current_page}}页 共{{total_page}}页</div>
					<div class="next-page" @click="NextPage()">下一页</div>
				</div>
				<div  v-else><div class="title">无查询结果</div></div>

			</div>
			<div class="count">互动统计&emsp;&emsp;
				本月&emsp;受理：{{count.month_shouli_count}}&emsp;
				办理：{{count.month_jiejue_count}}&emsp;&emsp;&emsp;
				本年&emsp;受理：{{count.year_shouli_count}}&emsp;
				办理：{{count.year_jiejue_count}}
			</div>
		</div>
		<div class="white-bg">
			<div class="footer">
				<div class="friends">
					<p>友情链接:</p>
					<a :href="item.path" v-for="(item,i) in friends_list" :key="item.id">{{item.name}}</a>
				</div>
				<div class="zhuban">主办单位: {{zhuban}}</div>
				<div class="chengban">承办单位: {{chengban}}</div>
				<div class="addmob">地址: {{address}} 电话: {{mobile}}</div>
			</div>
		</div>
		<script src="../js/footer.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/qysq.js" type="text/javascript" charset="utf-8"></script>
	</body>
</html>
