<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
		<title>求职详细</title>
		<script src="/mobile_web/js/vue.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/mobile_web/js/global.js" type="text/javascript" charset="utf-8"></script>
		<script src="/mobile_web/js/axios.min.js"></script>
		<script src="/mobile_web/js/head.js" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" type="text/css" href="../css/qzDetails.css" />
	</head>
	<body>
		<div class="top">
			<div class="toparea">
				<a class="index" href="/mobile_web/index.html">
					<div class="logo"><img src="../img/nav/logo@2x.png"></div>
					<div class="logoname">高密市中小企业公共服务平台</div>
				</a>

				<div class="topright">
					<a class="search" href="/mobile_web/qysq/qysq.html"><img src="../img/nav/nav_search_icon@2x.png"></a>
					<a class="user" :href="jump"><img src="../img/nav/nav_user_icon@2x.png"></a>
				</div>
			</div>
			<div class="selectbar">
				<a class="select" href="/mobile_web/index.html">首页</a>
				<a class="select" href="/mobile_web/qysq/qysq.html">企业诉求</a>
				<a class="select" href="/mobile_web/zxjs/zxjs.html">中心介绍</a>
				<a class="select" href="/mobile_web/zcfw/zcfw.html">政策服务</a>
				<a class="select" href="/mobile_web/fwtj/fwtj.html">服务推荐</a>
				<a class="selected" href="/mobile_web/qzzp/qzzp.html">求职招聘</a>
				<a class="select" href="/mobile_web/qyfc/qyfc.html">企业风采</a>
			</div>
		</div>
		<div class="main">
			<div class="middle">
				<div v-if="cansee">
					<div class="row">
						<div class="title">姓&emsp;&emsp;名：</div>
						<div class="content">{{data.user_nickname}}</div>
					</div>
					<div class="row">
						<div class="title">出生日期：</div>
						<div class="content">{{data.birthday}}</div>
					</div>
					<div class="row">
						<div class="title">手机号&emsp;：</div>
						<div class="content">{{data.mobile}}</div>
					</div>
					<div class="row">
						<div class="title">学&emsp;&emsp;历：</div>
						<div class="content">{{data.study}}</div>
					</div>
					<div class="row">
						<div class="title">工作经验：</div>
						<div class="content">{{data.years}}</div>
					</div>
					<div class="row">
						<div class="title">薪资要求：</div>
						<div class="content">{{data.pay}}</div>
					</div>
					<div class="row">
						<div class="title">行&emsp;&emsp;业：</div>
						<div class="content">{{data.name}}</div>
					</div>
					<div class="row">
						<div class="title">个人简介：</div>
						<div class="content">{{data.signature}}</div>
					</div>
				</div>
				<div v-else>
					<div class="row">
						<div class="wrong">您未登录或不是企业、机构用户，只有企业、机构用户才能查看!</div>
					</div>
					
				</div>
			</div>

		</div>
		<div class="footer">
			<div class="friends">
				<p>友情链接:</p>
				<a :href="item.path" v-for="(item,i) in friends_list" :key="item.id">{{item.name}}</a>
			</div>
			<div class="zhuban">主办单位: {{zhuban}}</div>
			<div class="chengban">承办单位: {{chengban}}</div>
			<div class="addmob">地址: {{address}} 电话: {{mobile}}</div>
		</div>
		<script src="../js/footer.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/qzDetails.js" type="text/javascript" charset="utf-8"></script>
	</body>
</html>
