<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
		<title>求职招聘</title>
		<script src="/mobile_web/js/vue.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/mobile_web/js/global.js" type="text/javascript" charset="utf-8"></script>
		<script src="/mobile_web/js/axios.min.js"></script>
		<script src="/mobile_web/js/head.js" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" type="text/css" href="../css/qzzp.css" />
	</head>
	<body>
		<div class="top">
			<div class="toparea">
				<a class="index" href="/mobile_web/index.html">
					<div class="logo"><img src="../img/nav/logo@2x.png"></div>
					<div class="logoname">高密市中小企业公共服务平台</div>
				</a>

				<div class="topright">
					<a class="search" href="/mobile_web/qysq/qysq.html"><img src="../img/nav/nav_search_icon@2x.png"></a>
					<a class="user" :href="jump"><img src="../img/nav/nav_user_icon@2x.png"></a>
				</div>
			</div>
			<div class="selectbar">
				<a class="select" href="/mobile_web/index.html">首页</a>
				<a class="select" href="/mobile_web/qysq/qysq.html">企业诉求</a>
				<a class="select" href="/mobile_web/zxjs/zxjs.html">中心介绍</a>
				<a class="select" href="/mobile_web/zcfw/zcfw.html">政策服务</a>
				<a class="select" href="/mobile_web/fwtj/fwtj.html">服务推荐</a>
				<a class="selected" href="/mobile_web/qzzp/qzzp.html">求职招聘</a>
				<a class="select" href="/mobile_web/qyfc/qyfc.html">企业风采</a>
			</div>
		</div>
		<div class="main">
			<div class="sel">
				<div class="top_sel">
					<div :class="qiuzhi" @click="Clickqiuzhi()">求职信息</div>
					<dic :class="zhaopin" @click="Clickzhaopin()">招聘信息</dic>
				</div>
				<div class="detail_sel">
					<div class="hangye">
						<div class="sel_name">行业</div>
						<img src="../img/job/job_down_button@2x.png">
						<select class="type-sel" v-model="type" @change="SelSearch()">
							<option value=""></option>
							<option v-for="item in type_lists" :key="item.id" :value="item.name">{{item.name}}</option>
						</select>
					</div>
					<div class="xinzi">
						<div class="sel_name">薪资</div>
						<img src="../img/job/job_down_button@2x.png">
						<select class="pay-sel" v-model="pay" @change="SelSearch()">
							<option value=""></option>
							<option v-for="item in pay_lists" :key="item.id" :value="item.name">{{item.name}}</option>
						</select>
					</div>
					<div class="jingyan">
						<div class="sel_name">经验</div>
						<img src="../img/job/job_down_button@2x.png">
						<select class="years-sel" v-model="years" @change="SelSearch()">
							<option value=""></option>
							<option v-for="item in years_lists" :key="item.id" :value="item.name">{{item.name}}</option>
						</select>
					</div>
					<div class="xueli">
						<div class="sel_name">学历</div>
						<img src="../img/job/job_down_button@2x.png">
						<select class="study-sel" v-model="study" @change="SelSearch()">
							<option value=""></option>
							<option v-for="item in study_lists" :key="item.id" :value="item.name">{{item.name}}</option>
						</select>
					</div>
				</div>
			</div>
			<div class="qiuzhi_result" v-if="current_sel==0">
				<a  :href="'/mobile_web/qzzp/qzDetails.html?id='+item.id" class="result_item" v-for="item in qiuzhi_list" :key="item.id">
					<div class="row1">
						<div class="item_name">{{item.name}}</div>
						<div class="item_user_nickname">{{item.user_nickname}}</div>
					</div>
					<div class="row2">
						<div class="item_SorD">{{item.sex}}</div>
						<div class="item_study">{{item.study}}</div>
						<div class="item_years">{{item.years}}</div>
					</div>
					<div class="item_pay">{{item.pay}}</div>
				</a>
			</div>
			<div class="zhaopin_result" v-else>
				<a :href="'/mobile_web/qzzp/zpDetails.html?id='+item.id" class="result_item" v-for="item in zhaopin_list" :key="item.id">
					<div class="row1">
						<div class="item_name">{{item.name}}</div>
					</div>

					<div class="row2">
						<div class="item_SorD">{{item.address}}</div>
						<div class="item_study">{{item.study}}</div>
						<div class="item_years">{{item.years}}</div>
					</div>

					<div class="item_pay">{{item.pay}}</div>
				</a>
			</div>
			<div class="page">
				<div class="pre-page" @click="PrePage()">上一页</div>
				<div class="pre-page">当前第{{current_page}}页 共{{total_page}}页</div>
				<div class="next-page" @click="NextPage()">下一页</div>
			</div>
		</div>
		<div class="footer">
			<div class="friends">
				<p>友情链接:</p>
				<a :href="item.path" v-for="(item,i) in friends_list" :key="item.id">{{item.name}}</a>
			</div>
			<div class="zhuban">主办单位: {{zhuban}}</div>
			<div class="chengban">承办单位: {{chengban}}</div>
			<div class="addmob">地址: {{address}} 电话: {{mobile}}</div>
		</div>
		<script src="../js/footer.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/qzzp.js" type="text/javascript" charset="utf-8"></script>
	</body>
</html>
