@font-face {
	font-family: 'HYe4gj';
	src: url('/mobile_web/ttf/HYYCT.ttf');
}

@font-face {
	font-family: 'PingFang SC';
	src: url('/mobile_web/ttf/PingFang.otf');
}

@font-face {
	font-family: 'Microsoft YaHei';
	src: url('/mobile_web/ttf/YaHei.ttf');
}

@font-face {
	font-family: 'SourceHanSansSC';
	src: url('/mobile_web/ttf/SourceHanSansSC-Medium.otf');
}

body {
	margin: 0;
	padding: 0;
	background-color: #F7F4F8;
}

a {
	text-decoration: none;
}


.footer {
	margin-top: 0.68rem;
	width: 100%;
}

.friends {
	font-size: 0.2rem;
	width: 100%;
	height: 0.76rem;
	background: rgba(0, 85, 168, 1);
}

.friends p {
	margin-left: 0.1rem;
}

.friends * {
	padding: 0.25rem 0.1rem;
	margin: 0;
	display: inline-block;
	font-size: 0.2rem;
	font-family: PingFang SC;
	font-weight: 500;
	color: rgba(255, 255, 255, 1);
}

.zhuban {
	margin-top: 0.25rem;
	width: 100%;
	text-align: center;
	font-size: 0.2rem;
	font-family: PingFang SC;
	font-weight: 500;
	color: rgba(26, 26, 26, 1);
}

.chengban {
	margin-top: 0.15rem;
	width: 100%;
	text-align: center;
	font-size: 0.2rem;
	font-family: PingFang SC;
	font-weight: 500;
	color: rgba(26, 26, 26, 1);
}

.addmob {
	width: 100%;
	text-align: center;
	margin-top: 0.15rem;
	margin-bottom: 0.25rem;
	margin-left: auto;
	margin-right: auto;
	font-size: 0.2rem;
	font-family: PingFang SC;
	font-weight: 500;
	color: rgba(26, 26, 26, 1);
}

.head {
	position: relative;
	background-color: white;
	padding: 0.26rem 0;
}

.head a {
	position: absolute;
	font-size: 0.28rem;
	padding: 0.08rem 0.2rem;
}

.head a img {
	height: 0.36rem;
}

.title {
	width: 100%;
	text-align: center;
	font-size: 0.38rem;
	font-family: PingFang SC;
	font-weight: bold;
	color: rgba(3, 3, 3, 1);
}

.main {
	height: 12.2rem;
}

.white-bg {
	background: rgba(255, 255, 255, 1);
}

.item {
	position: relative;
	width: 90%;
	margin: 0 auto;
	height: 1.12rem;
	border-bottom: 0.025rem solid #F7F4F8 !important;
}

.item-title {
	position: absolute;
	padding: 0.34rem 0;
	font-size: 0.32rem;
	font-family: PingFang SC;
	font-weight: 500;
	color: rgba(1, 1, 1, 1);
}

#name-field,
#mobile_name-field,
#file-field,
#code-field {
	margin-top: 0.16rem;
}

#code {
	width: 50%;
}

.file-item {
	position: relative;
	width: 90%;
	margin: 0 auto;
	height: 4rem;
}

.img1,
.img2 {
	top: 1rem;
	position: absolute;
	width: 2rem;
	height: 2rem;
}

.img1 {
	left: 0.9rem;
}


.img2 {
	right: 0.9rem;
}

.text1,
.text2 {
	position: absolute;
	top: 3.2rem;
	font-size: 0.3rem;
	font-family: PingFang SC;
	font-weight: 500;
	color: rgba(153, 153, 153, 1);
}

.text1 {
	left: 1.1rem;
}

.text2 {
	right: 1.3rem;
}

.img1,
.img2 {
	z-index: 5;
}

.item-content {
	position: absolute;
	top: 0.35rem;
	left: 1.5rem;
	font-size: 0.3rem;
	font-family: PingFang SC;
	font-weight: 500;
	color: rgba(153, 153, 153, 1);
}

.code-content {
	position: absolute;
	top: 0.35rem;
	left: 3rem;
	font-size: 0.3rem;
	font-family: PingFang SC;
	font-weight: 500;
	color: rgba(153, 153, 153, 1);
}