@font-face {
	font-family: 'HYe4gj';
	src: url('/mobile_web/ttf/HYYCT.ttf');
}

@font-face {
	font-family: 'PingFang SC';
	src: url('/mobile_web/ttf/PingFang.otf');
}

@font-face {
	font-family: 'Microsoft YaHei';
	src: url('/mobile_web/ttf/YaHei.ttf');
}

@font-face {
	font-family: 'SourceHanSansSC';
	src: url('/mobile_web/ttf/SourceHanSansSC-Medium.otf');
}

body {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

.top {
	width: 100%;
	position: fixed;
	z-index: 100;
}

.toparea {
	width: 100%;
	height: 0.88rem;
	background: rgba(28, 114, 184, 1);
}

.index{
	position: relative;
	padding: 0.24rem 0;
	float: left;
	display: inline-block;
	font-size: 0.28rem;
}

.logo {
	font-size: 0.28rem;
	position: relative;
	display: inline-block;
	float: left;
	margin-left: 0.36rem;
}

.logo img {

	width: 0.4rem;
	height: 0.4rem;
}

.logoname {
	display: inline-block;
	margin-left: 0.13rem;
	font-size: 0.32rem;
	font-family: "HYe4gj";
	font-weight: 400;
	color: rgba(254, 254, 254, 1);
	line-height: 0.27rem;
	float: left;
	margin-top: 0.1rem;
}

.user {
	margin-left: 0.46rem;
}

.topright {
	position: relative;
	float: left;
	font-size: 0.28rem;
	margin-left: 0.7rem;
	margin-top: 0.28rem;
}

.topright img {
	display: inline-block;
	width: 0.35rem;
	height: 0.35rem;
}

.main {
	padding-top: 2.22rem;
}

.find-title {
	margin-left: 0.25rem;
	margin-bottom: 0.42rem;
	font-size: 0.4rem;
	font-family: SourceHanSansSC;
	font-weight: 400;
	color: rgba(70, 70, 70, 1);
}

.input-field {
	position: relative;
	margin: 0.16rem auto;
	width: 6.61rem;
	height: 0.77rem;
	border: 0.028rem solid rgba(230, 230, 230, 1);
	border-radius: 0.05rem;
}

.title {
	position: absolute;
	text-align: center;
	width: 1.5rem;
	top: 0.2rem;
	font-size: 0.25rem;
	font-family: SourceHanSansSC;
	font-weight: 400;
	color: rgba(128, 128, 128, 1);
}

input {
	position: absolute;
	display: inline-block;
	padding: 0 0.2rem;
	outline: none;
	border: none;
	background: none;
	height: 0.77rem;
	font-size: 0.25rem;
	font-family: SourceHanSansSC;
	font-weight: 400;
}

#username,
#mobile,
#password,
#repassword {
	right: 0;
	width: 70%;
}

#code {
	width: 38%;
	right: 2.1rem;
}

input::placeholder {
	font-size: 0.25rem;
	font-family: SourceHanSansSC;
	font-weight: 400;
	color: rgba(128, 128, 128, 1);
}

.getcode {
	position: absolute;
	margin: 0.08rem 0.1rem;
	right: 0;
	width: 1.77rem;
	height: 0.62rem;
	background: rgba(245, 245, 245, 1);
	border-radius: 0rem;
	font-size: 0.25rem;
	font-family: SourceHanSansSC;
	font-weight: 400;
	text-align: center;
	line-height: 0.65rem;
	color: rgba(179, 179, 179, 1);
}
.tip {
	margin-left: 0.66rem;
	font-size: 0.25rem;
	font-family: SourceHanSansSC;
	font-weight: 400;
	color: rgba(204, 204, 204, 1);
}

.reset {
	margin-top: 0.7rem;
	margin-left: auto;
	margin-right: auto;
	width: 6.6rem;
	height: 0.73rem;
	background: rgba(18, 120, 204, 1);
	font-size: 0.27rem;
	font-family: SourceHanSansSC;
	font-weight: 400;
	color: rgba(255, 255, 255, 1);
	text-align: center;
	line-height: 0.75rem;
}
