body {
    margin: 0;
    padding: 0;
}

.background {
    background: url(../img/背景.png) no-repeat;
    background-size: cover;
    min-height: 768px;
    min-width: 1366px;
}

.header {
    background: url(../img/导航栏.png)no-repeat;
    min-height: 70px;
    background-size: cover;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.gotologin {
    float: right;
    margin-right: 20px;
}

.login {
    position: relative;
    float: right;
    top: 15px;
    width: 400px;
    height: 70px;
}

.userinf {
    float: right;
    margin-right: 20px;
}

.username {
    font-size: 30px;
    color: white;
}

.userinf button {
    margin-left: 10px;
    font-size: 30px;
    color: white;
    height: 40px;
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
}

.userinf button:hover {
    background: #8098c4;
}

.left, .folder, .right {
    display: inline-block;
}

.left {
    width: 450px;
}

.logo {
    width: 305px;
    margin-left: 20px;
    margin-top: 15px;
}

.person {
    margin-top: 95px;
    margin-left: 20px;
    height: 450px;
}

.folder {
    background: url(../img/download/文件夹.png) no-repeat;
    width: 415px;
    height: 416px;
    position: relative;
    vertical-align: top;
    margin-top: 115px;
}

.foldercover {
    z-index: 3;
    position: absolute;
}

.loadingcircle {
    position: absolute;
    z-index: 4;
    left: 160px;
    top: 270px;
    animation: circle 1s infinite linear;
    transform-origin: center center;
}

@keyframes circle {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}

.right {
    vertical-align: top;
    margin-top: 25px;
    width: 490px;
    text-align: center;
}

.lists {
    text-align: center;
    height: 461px;
    overflow: hidden;
}

#list1 {
    z-index: 1;
    animation-name:movelist ;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
#list2 {
    z-index: 1;
    animation-delay: 2s;
    animation-name:movelist ;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
#list3 {
    z-index: 1;
}
@keyframes movelist {
    0% {
        z-index: 2;
        left: 925px;
        top: 95px;
        width: 387px;
    }
    50% {
        z-index: 2;
        left: 525px;
        top :150px;
        width: 275px;
    }
    100% {
        z-index: 1;
        left: 525px;
        top :180px;
        width: 275px;
    }
}

.lists img {
    z-index: 0;
    position: absolute;
    background-color: white;
    left: 925px;
    top: 95px;
}


textarea::-webkit-input-placeholder {
    font-size: 20px;
}

input::-webkit-input-placeholder {
    font-size: 20px;
}

img {
    -webkit-user-drag: none;
}

a {
    -webkit-user-drag: none;
}