<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
		<title>修改密码</title>
		<script src="/mobile_web/js/vue.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/mobile_web/js/global.js" type="text/javascript" charset="utf-8"></script>
		<script src="/mobile_web/js/axios.min.js"></script>
		<script src="../js/personhead.js" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" type="text/css" href="../css/resetPassword.css" />
	</head>
	<body>
		<div id="app">
			<div class="head">
				<a href="/mobile_web/person/person.html"><img src="../img/userHome/back.png"></a>
				<div class="title">修改密码</div>
				<div class="submit" @click="resetPassword()">确认</div>
			</div>
			<div class="main">
				<div class="form">
					<div class="item">
						<div>输入密码</div>
						<input type="password" name="password" id="password" v-model="password" placeholder="数字、字母或符号" />
					</div>
					<div class="item">
						<div>再次输入密码</div>
						<input type="password" name="repassword" id="repassword" v-model="repassword" placeholder="请再次输入密码" />
					</div>
				</div>
			</div>
		</div>
		<div class="footer">
			<div class="friends">
				<p>友情链接:</p>
				<a :href="item.path" v-for="(item,i) in friends_list" :key="item.id">{{item.name}}</a>
			</div>
			<div class="zhuban">主办单位: {{zhuban}}</div>
			<div class="chengban">承办单位: {{chengban}}</div>
			<div class="addmob">地址: {{address}} 电话: {{mobile}}</div>
		</div>
		<script src="../js/footer.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/resetPassword.js" type="text/javascript" charset="utf-8"></script>
	</body>
</html>
