<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
		<title>查看应聘</title>
		<script src="/mobile_web/js/vue.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/mobile_web/js/global.js" type="text/javascript" charset="utf-8"></script>
		<script src="/mobile_web/js/axios.min.js"></script>
		<script src="../js/personhead.js" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" type="text/css" href="../css/yingpinManage.css" />
	</head>
	<body>
		<div id="app">
			<div class="head">
				<a href="/mobile_web/person/zhaopinManage.html"><img src="../img/userHome/back.png"></a>
				<div class="title">查看应聘</div>
			</div>
			<div class="main">
				<a class="white-bg" v-for="(item,i) in lists" :key="item.id" :href="item.resume_path">
					<div class="item">
						<div class="name">{{item.user_nickname}}</div>
						<div class="time">{{item.create_time}}</div>
						<div class="check" >查看</div>
					</div>
				</a>
				<div class="white-bg" v-if="length==0">
					<div class="item">
						<div class="Noyingpin">无应聘</div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer">
			<div class="friends">
				<p>友情链接:</p>
				<a :href="item.path" v-for="(item,i) in friends_list" :key="item.id">{{item.name}}</a>
			</div>
			<div class="zhuban">主办单位: {{zhuban}}</div>
			<div class="chengban">承办单位: {{chengban}}</div>
			<div class="addmob">地址: {{address}} 电话: {{mobile}}</div>
		</div>
		<script src="../js/yingpinManage.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/footer.js" type="text/javascript" charset="utf-8"></script>
	</body>
</html>
